.Sidebar {
  // margin-top: 3rem;
  // border: 2px solid black;
  width: 20%;
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  div {
    padding: 2rem;
    color: black;
    ul {
      li {
        padding: 1.7rem;
        list-style: none;
        font-size: 1.2rem;
        color: black;
        border-bottom: 1px solid black;
        a {
          color: black;
        }
      }
      .noBorder {
        border: none;
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 1338px) {
  .Sidebar {
    width: 25%;
  }
}

@media only screen and (max-width: 1241px) {
  .Sidebar {
    display: none;
  }
}
